.NavbarItems {
    position: relative;
    width: 1920px;
    height: 115px;
    left: 0px;
    top: 0px;

    background: #C4C4C4;
}

.navbar-rectangle {
    position: absolute;
    width: 1680px;
    height: 80px;
    left: 100px;
    top: 15px;

    background: #FFFFFF;
}

.navbar-logo {
    position: absolute;
    width: 122.07px;
    height: 40px;
    left: 30px;
    top: 20px;
}

.navbar-title {
    position: absolute;
    width: 98px;
    height: 38px;
    left: 123px;
    top: 20px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 28.4444px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration: none;

    color: #000000;
}

.navbar-links {
    position: absolute;
    left: 238px;
    top: 30px;
    
    list-style: none;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
}

.nav-links {
    color: #18A0FB;
    text-decoration: none;
}

.navbar-login {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1328px;
    top: 20px;
}

.navbar-register {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1470px;
    top: 20px;
}