.login-register {
    margin-left: 62%;
}

:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightgrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
}

.removing-space {
    margin-top: -20px;
}