/* Color code */
/* 
#3438A3
#767BBC
#697790
#556270
#b7b7b7
#cbd5e0
#fff
*/
/*--------------------------------------------------------------
# Pagination Color
--------------------------------------------------------------*/
.ant-pagination-item.ant-pagination-item-active, 
.ant-pagination-item.ant-pagination-item-active a,
.ant-pagination .ant-pagination-item:hover,
.ant-pagination .ant-pagination-item:hover a,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon, 
.ant-pagination .ant-pagination-prev:hover button,
.ant-pagination .ant-pagination-next:hover button,
.ant-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination .ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input:hover{
  border-color: #3438A3;
  color: #3438A3
}

/*--------------------------------------------------------------
# Custom Button
--------------------------------------------------------------*/

.btn.btn-outline-custom{
  color: #3438A3;
  background-color: #fff;
  border: 1px solid #3438A3;
}
.btn.btn-outline-custom:hover{
  background-color: #3438A3;
  color: #fff
}

.btn.btn-custom{
  background-color: #3438A3;
  color: #fff
}

.btn.btn-custom:hover{
  color: #3438A3;
  background-color: #fff;
  border: 1px solid #3438A3;
}
/*--------------------------------------------------------------
# article/ Article
--------------------------------------------------------------*/
/* .article-container {
  width: 100%; */
  /* padding-top: 5em; */
  /* padding-bottom: 5em; */
  /* background-color: #F0EFF6 */
/* } */

/* article/Post/Author card */
.single_post, 
.sidebar-container,
.post-author, 
.post-author-md, 
.post-entry, 
.reply-form{
  border: 0;
  border-radius: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease
}

/* Side bar on articles page */
.article-sidebar .sidebar-item .categories ul, .article-sidebar .sidebar-item .tags ul {
  list-style: none;
  padding: 0
}

.article-sidebar .sidebar-item .categories li a {
  color: #556270;
  transition: 0.3s;
}

.article-sidebar .sidebar-item .categories li a span{
  padding-left: 5px;
  color: #b7b7b7;
  font-size: 14px;
}

.article-sidebar .sidebar-item .tags ul li {
  display: inline-block;
}

.article-sidebar .sidebar-item .tags ul a {
  color: #96a2af;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #fff;
  display: inline-block;
  transition: 0.3s;
}

.article-sidebar .sidebar-item .tags ul a:hover {
  text-decoration: none;
  color: #fff;
  border: 1px solid #3438A3;
  background: #3438A3;
}

/* Single post card on articles page  */
.single_post .post-category,.post-entry .entry-title a {
  color: #3438A3;
  font-weight: bold;
}
.single_post .post-title a, .post-entry .entry-category  {
  font-weight: bold;
  color: #556270;
}

.single_post .post-title a:hover, .sidebar-item .categories li a:hover, .post-entry .entry-title a:hover {
  color: #3438A3;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.single_post .post-summary {
  padding-top: 1em;
  text-align: justify;
  text-justify: inter-word;
}

.single_post .footer .actions {
  display: inline-block
}

.single_post .footer .stats {
  display: inline-block;
  line-height: 2em;
}

.single_post .footer .stats li {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 0 2em;
  padding: 0 0 0 2em;
  font-size: 14px
}

.single_post .footer .stats li a {
  color: #556270
}

/*--------------------------------------------------------------
# Single article/Article Page
--------------------------------------------------------------*/
/* Author */
.post-author .img-wrapper{
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.post-author .img-wrapper img  {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-author-md img {
  width: 120px;
  margin-right: 20px;
}

h4.author-name{
  font-weight: 600;
  font-size: 22px;
  color: #3438A3;
}
h6.author-title{
  font-weight: 600;
  color: #697790;
}
.post-author p, .post-author-md p {
  font-style: italic;
  color: #b7b7b7;
}

/* Post entry */
.post-entry .entry-meta {
  margin-bottom: 15px;
  color: #b7b7b7;
}

.post-entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.post-entry .entry-meta ul li + li {
  padding-left: 20px;
}

.post-entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}

.post-entry .entry-meta a {
  color: #b7b7b7;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.post-entry .entry-content{
  padding-top: 1em;
  padding-bottom: 2em;
}

.entry-content h1, .entry-content h2, .entry-content h3 {
  font-weight: bold;
  color:#697790
}

.entry-content p, .entry-content li{
  line-height: 26px;
  font-size: 18px;
  text-align: justify;
  text-justify: inter-word;

}
.entry-content img{
  max-width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.post-entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
  color: #b7b7b7;
}
.post-entry .entry-footer .liked, .post-entry .entry-footer .unliked:hover{
  color: #dc3545;
  cursor: pointer;
}
.post-entry .entry-footer .liked:hover, .post-entry .entry-footer .unliked{
  color: #b7b7b7;
  cursor: pointer;
}

/* Post comment */
.post-comments {
  margin-bottom: 30px;
}

.post-comments .comment {
  margin-bottom: 16px;
  position: relative;
  border-bottom: 1px solid #cbd5e0;
}
.post-comments .comment .btn-detail{
  font-size: 13px;
  color: #96a2af;
}
.post-comments .comment .btn-detail:hover{
  color: #697790;
}

/* div.ant-popover-inner-content{
  padding: 0;
}
.popover-details{
  padding: 6px 0;
  font-size: 14px
} */

.post-comments .comment .comment-img img, .reply-form .comment-img img  {
  width: 60px;
  border: 1px solid #b7b7b7;
}

.post-comments .comment h6 {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: bold;
  color: #697790;
  transition: 0.3s;
}

.post-comments .comment small {
  display: block;
  font-size: 12px;
  color: #b7b7b7;
  margin-bottom: 5px;
}



/* Reply form */
.reply-form h4{
  font-weight: bold;
  color:#697790
}

