h1#form-title{

color: black;
float:left;

}

p#form-styling1{
    margin:auto;
    text-align:center;
}

#button-form{

    float:left;
    
}

#formBorder{
 /* border: 0.5px solid grey; */
 margin:auto;
 padding: 3em 2em 3em 2em;
 background-color: white;
}


