#inputSpecialty{

    background-color: rgba(100, 100, 100, 0.541);
    color:black;
    font-style:bold;

}

#inputIntroduction{

    background-color: rgba(100, 100, 100, 0.541);
    color:black;
    font-style:bold;

}



